<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AlgoLab – Algorithm Simulator</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="app">

        <div class="sidebar">
            <h2>AlgoLab</h2>
            <button onclick="toggleTheme()">🌙 / ☀️</button>
            <button onclick="show('huffman')">📦 Huffman</button>
            <button onclick="show('bst')">🌳 Binary Search Tree</button>
            <button onclick="show('dijkstra')">🗺️ Dijkstra</button>
        </div>

        <div class="main">
            <div id="content" class="card fade"></div>
        </div>

    </div>

    <div id="alertBox" class="alert"></div>

    <script src="/static/script.js"></script>
</body>

</html>